APP_ENV=development

# Server config
JWT_SECRET=generatetherandomstringforjwt
PORT=9090

# DB config
DATABASE_URL=postgres://username:password@host:5432/dbname?sslmode=disable

# Log config
LOG_LEVEL=debug

# Goose env variables
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://username:password@host:5432/dbname?sslmode=disable
GOOSE_MIGRATION_DIR=internal/db/migrations
